* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7em;
    width: 100%;

    background: #300350;
    color: #fff;
}

header nav {
    width: 40%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

header li {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    width: 30%;
}

header li a {
    text-decoration: none;
    color: inherit;
}