* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

/*==============================*/
/*    Header Styles - General   */
/*==============================*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7em;
    width: 100%;

    background: #300350;
    color: #fff;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
header nav a {
    color: white;

    margin-left: 3rem;
    width: 3%;
}
header nav a img {
    color: white;
    width: 6rem;
    height: 6rem;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30%;
}
header li {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    width: 30%;
}
header li a {
    text-decoration: none;
    color: inherit;
}

/*==============================*/
/*    Footer Styles - General   */
/*==============================*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 3rem;

    background: #300350;
    color: #fff;
    font-size: 1.6rem;
}
footer h3 {
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}
footer li {
    margin-bottom: 0.5rem;
}


main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 87rem;
}
.hero-left {
    background: #eee;
    border: 10px solid #153cb4;

    width: 50%;
    height: 87rem;
}
.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 87rem;
    width: 50%;
}
.hero-freelancing {
    background: #eee;
    border: 10px solid #f9ac53;

    height: 50%;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr repeat(2, 5fr) 1fr 2fr;
    grid-template-rows: repeat(2, 2fr) 1fr 2fr 3fr; 
}
#hero-freelancing-title {
    grid-area: 2 / 2 / 3 / 4;

    border-bottom: 4px solid #f9ac53;
}
#hero-freelancing-button {
    grid-area: 4 / 3 / 5 / 5;

    border: 1px solid;

    color: #000;

    font-size: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
}
#hero-freelancing-button:hover {
    color: #f9ac53;
    cursor: pointer;
}
#freelancing-right-icon {
    height: 5rem;
}
.hero-socials {
    background: #eee;
    color: #000;
    height: 50%;
    width: 100%;
}
.hero-socials img{
    height: 10rem;
    width: 10rem;
}

.hero-socials > ul {
    border: 10px solid #f62e97;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.hero-socials li {
    height: 33.3333%;
    width: 50%;
}
.hero-socials a {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 2rem;

    padding: 1rem;
}
.hero-socials a:hover {
    color: #f62e97;

    cursor: pointer;
}
.hero-socials a img {
    margin-right: 10%;
}
.hero-socials .top {
    border-bottom: 1px solid;
}
.hero-socials .middle {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.hero-socials .bottom {
    border-top: 1px solid;
}
.hero-socials .left {
    border-right: 1px solid;
}
.hero-socials .right {
    border-left: 1px solid;
}


/*============================*/
/*      About Me Section      */
/*============================*/

#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 4rem 0;
}
#aboutme > * {
    max-width: 80%;
}

#aboutme-content {
    font-size: 2rem;
    text-indent: 5%;
}


/*============================*/
/*    Latest Work Section     */
/*============================*/
.latest-works {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    background: #eee;
}
.latest-works h2 {
    margin: 4rem 0;
}

.latest-works .catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 80%;
}

.catalog-item {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    background: #fff;
    margin: 5rem 0;
    padding: 3rem;
    height: 600px;
    width: 30%;

    border: 5px solid;
    border-radius: 10px;
}
.catalog-item img {
    background: gray;
    width: 100%;
}
.catalog-item ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.catalog-item li {
    padding: 0.5rem 1rem;


    background: #ddd;
    border-radius: 25px;
    font-size: 2rem;
}
.catalog-item p {
    font-size: 2rem;
}
.catalog-item a {
    padding: 1rem 2rem;

    border: 3px solid;
    font-size: 2rem;
}


h2 {
    font-size: 5rem;
}
h4 {
    font-size: 3rem;
}



/*=============================*/
/*       Contact Me Page       */
/*=============================*/
.contact-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 2rem;
}
.general-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.general-form section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 3rem;
}
.general-form label {
    margin-bottom: 1rem;
}

.form-container, .alternate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.form-container h1 {
    font-size: 5rem;
}
.form-container {
    margin-top: 1rem;

    border-right: 5px solid #eee;
}

.alternate-freelance {
    border-bottom: 5px solid #eee;
}
.button {
    border: 3px solid;
    border-radius: 10px;
    padding: 1em 2em;
}